body {
    background-color: #D3C8C6;
    margin: 0 auto;
}



h1 {
    color: #845C48;
    font-weight: bold;
    text-align: center;
}

.me {
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-position: center;
    height: 70vh;
}

p {
    text-align: center;
}

h2 {
    color: #845C48;
    font-weight: bold;
    text-align: center;
}

.skills {
    display: flex;
    align-content: space-between;
    height: 15vh;
    margin-bottom: 100px;
}
